/**
* ! Setting Base Styles
**/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --dark-cyan : hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue:hsl(212, 21%, 14%);
    --dark-grayish-blue:hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%)

}

/* price and title
font-family: 'Fraunces',
serif; */

/**
* ! Typography
**/

.over-text{
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
}

h1{
    font-family: 'Fraunces',serif;
    color: var(--very-dark-blue);
    margin-bottom: 12px;
}

.sub-text{
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 20px;
    color: var(--dark-grayish-blue);
    margin-bottom: 25px;
}

.price-container h1{
    color: var(--dark-cyan);
}

.earlier-price{
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 0.8rem;
}

/**
 * ! Styles
**/

.container{
    /* border: 2px solid red; */
    background-color: var(--cream);
    min-height: 100vh;
    padding: 20px 25px;
}

.preview-card{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
}

.showcase{
    /* border: 2px solid black; */
    background: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px 10px 0px 0px;
}

.description{
    padding: 20px 22px;
    background-color: var(--white);
    border-radius: 0px 0px 10px 10px;
}

.description .price-container{
    margin-bottom: 12px;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}

.earlier-price{
    margin-bottom: 10px;
}

.addToCartBtn{
    cursor: pointer;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 8px;
    width: 100%;
    height: 46px;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-weight: 700;

    transition: all 0.5s ease-out;
}

.addToCartBtn:hover{
    background-color: #1A4031;
}